@charset "UTF-8";
html {
    font-size: 13px;
}

body {
    color: #44484a;
    font-family: 'Solway', serif;
}

a {
    text-decoration: none;
}

.labelBlue {
    color: blue;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}